@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
$font-default: 'Source Sans Pro', sans-serif;
body {
  margin: 0;
  font-family: $font-default;
}
#wrapper {
  font-family: $font-default;
  display: flex;
  .main-wrapper {
    background-color: #f4f4f4;
    width: 100%;
    overflow-x: hidden;
    #content {
      flex: 1 0 auto;
    }
  }
}
.navbar {
  background-color: #000;
}

.category-aktif {
  background-color: #22668A;
  color: white;
}

.btn-primary {
  background-color: #22668A;
}

@media only screen and (max-height: 1000px) {
  .hasil {
    height: 650px;
  }
  
  .menu {
    height: 800px;
  }
}

.overflow-auto::-webkit-scrollbar{
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-menu{
  border-radius: 8px;
  background: linear-gradient(90deg, #C84E89 0%, #F15F79 100%);
  box-shadow: 0px 4px 10px rgba(136, 136, 136, 0.25);
  img{
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .desc{
    text-align: center;
    padding: 0.8rem 1rem;
    h2{
      font-size: 16px;
      font-weight: 600;
      color: #fff;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;  
      overflow: hidden;
    }
    p{
      font-size: 12px;
      color: #fff;
      margin-bottom: 0;
    }
  }
}

.sidebar-uas{
  width: 18rem;
  height: 100vh;
  background: linear-gradient(90deg, #EB3349 0%, #F45C43 100%);
  @media (max-width: 576px) { 
    display: none;
  }
  .logo{
    padding: 14px;
    text-align: center;
  }
  .sidebar-list{
    margin: 0;
    list-style: none;
    padding-inline-start: 0;
    li{
      display: flex;
      align-items: center;
      background-color: transparent;
      padding: 1rem;
      cursor: pointer;
      &.active{
        background-color: #AA220F;
        border-right: 5px solid #FED500;
        i{
          color: #FED500;
        }
        h4{
          color: #FED500;
        }
      }
      i{
        font-size: 16px;
        color: #fff;
        margin-right: 5px;
      }
      h4{
        font-size: 16px;
        color: #fff;
        font-family: $font-default;
        margin-bottom: 0;
        font-weight: 600;
      }
    }
  }
}